{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>{{ website }} index</h1>
<a 
href="{{ path('program_item', {id:18}) }}"
class = "btn btn-secondary rounded-pill border-0"
>Voir le programme 18</a>
{% endblock %}