<nav class="navbar justify-content-center">
    <a href="/" class="btn btn-secondary border-0 rounded-pill mx-1">Home</a>
    <a href="/program" class="btn btn-secondary border-0 rounded-pill mx-1">Programs</a>
</nav>