<nav class="navbar justify-content-center">
    <a href="/" class="btn btn-secondary border-0 mx-1">Home</a>

    <a href="/program" class="btn btn-secondary border-0 mx-1">Programs</a>

    <div class="btn-group">
        <a href="{{ path("category_index") }}" type="button" class="btn btn-secondary ms-1">Categories</a>

        <button 
        type="button" 
        id="dropdownMenuButton" 
        class="btn btn-secondary dropdown-toggle dropdown-toggle-split" 
        data-toggle="dropdown" 
        aria-haspopup="true" 
        aria-expanded="false">

            <span class="sr-only"></span>

        </button>

    <div class="dropdown-menu" id="dropdownMenu"></div>
</nav>