<nav class="navbar justify-content-center">
    <a href="/" class="btn btn-secondary border-0 rounded-pill mx-1">Home</a>

    <div class="dropdown">
        <button 
        class="btn btn-secondary dropdown-toggle" 
        type="button" 
        id="dropdownMenuButton" 
        data-toggle="dropdown" 
        aria-haspopup="true" 
        aria-expanded="false">
            Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenu">
            <a class="dropdown-item" href="#">Action</a>
            
        </div>
    </div>

    <div 
    class="btn btn-secondary border-0 rounded-pill mx-1"
    id="category-ddm">Categories</div>

    <a href="/program" class="btn btn-secondary border-0 rounded-pill mx-1">Programs</a>
</nav>